<%- include('../partials/header')  %>

<div class="profile-page">
  <div class="profile-page--banner"></div>

  <% let { avatarUrl, name } = user %>
  <div class="profile-page__user">
    <img class='profile-page__user--avatar' 
        src=<%= avatarUrl %> alt=<%= name %>
    >
    <h2><%= name %></h2>
  </div>

  <div class='profile-page__friends'>
    <h3><%= name %>'s Friends</h3>
    <ul class='profile-page__friends--list'>
    <% friends.forEach(friend => { %>
      <% let { avatarUrl, name, _id } = friend %> 
      <li class="friend">
        <a href=<%= `/users/${_id}` %>>
          <img src=<%= avatarUrl %> alt=<%= name %>> 
          <p><%= name %></p>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
    
<%- include('../partials/footer')  %> 